{% extends 'shared/base.html' %}
{% load static %}
{% block content %}

{% include 'partials/_nav.html' with types=types %}

<section>

{% if pokemons %}
    {% for pokemon in pokemons %}

        <a href="{% url 'pokemon' pokemon.id_pokemon %}">
        id: {{ pokemon.id_pokemon }}
        Numero da pokedex: {{ pokemon.num_pokedex_pokemon }}
        Nome: {{ pokemon.name_pokemon }}
        Tipo 1: {{ pokemon.type_1_pokemon.type }}
        Tipo 2: {{ pokemon.type_2_pokemon.type }}
        {% if pokemon.legendary_pokemon == 1 %}Lendario{% endif %}
        </a>
        <br>

    {% endfor %}
{% endif %}

</section>

{% include 'partials/_pagination.html' with pokemons=pokemons query=query %}

{% endblock %}